.container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 2fr .5fr 2fr 2fr .5fr 2fr .5fr 2fr .1fr;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: auto;
    padding: auto;
    object-fit: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#home {
    grid-column-start: 1;
    grid-column-end: 5;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../images/handyman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    color: white;
}

#home h1 {
    padding-top: 40px;
    padding-left: 20%;
    margin-bottom: 0px;
}

#home h2 {
    padding-left: 20%;
    margin: 0;
}

#home h3 { 
    padding-left: 20%;
    margin-top: 0px;
}

#services {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #2b6ca3;
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}

#carpentry {
    text-align: center;
    margin: 0;
    align-content: center;
    background-color: #2b6ca3;
    color: white;
    padding-top: 5px;
}

#carpentry h3{
    padding-top: 15px;
}

#plumbing {
    text-align: center;
    margin: 0;
    align-content: center;
    background-color: #2b6ca3;
    color: white;
    padding-bottom: 30px;
}

#electrical {
    text-align: center;
    margin: 0;
    align-content: center;
    background-color: #2b6ca3;
    color: white;
    padding-top: 5px;
}

#painting {
    text-align: center;
    margin: 0;
    align-content: center;
    background-color: #2b6ca3;
    color: white;
    padding-top: 15px;
}

#about {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../images/wood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    padding-top: 15px;
}

#about h1{
    color:rgb(255, 222, 17);
}

#about p{
    padding-top: 15px;
    text-align: center;
}

#review-title {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
    color: #2b6ca3;
    padding-top: 15px;
}

#first-review {
    text-align: center;
    margin: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px 10px 20px 10px;
}

#second-review {
    text-align: center;
    margin: auto;
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 10px 10px 20px 10px;
}

#contact {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #2b6ca3;
    color: white;
    padding-top: 15px;
}

#call {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    word-wrap:break-word;
    background-color: #2b6ca3;
    color: white;
    padding-top: 15px;
}

#call h4{
    padding-top: 20px;
}

#email {
    text-align: center;
    padding-right: 4px;
    grid-column-start: 2;
    grid-column-end: 3;
    word-wrap:break-word;
    background-color: #2b6ca3;
    color: white;
    padding-top: 15px;
}

#email h4{
    padding-top: 20px;
}

#area-covered {
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
    word-wrap:break-word;
    background-color: #2b6ca3;
    color: white;
    padding-top: 15px;
}

#area-covered h4{
    padding-top: 20px;
}

#quote {
    text-align: center;
    
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: #2b6ca3;
    color: white;
    padding-top: 15px;
}

#quote h4{
    padding-top: 20px;
}

#footer {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 5;
        margin-top: 20px;
        padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    #home h2{
        padding-bottom: 20px;
    }

    #services h1{
        padding-bottom: 10px;
    }

    #carpentry p{
        padding-bottom: 20px;
    }

    #electrical p{
        padding-bottom: 20px;
    }

    #painting p{
        padding-bottom: 20px;
    }

    #about p{
        padding: 10px 10px 20px 10px;
    }

    #contact h1{
        padding-bottom: 10px;
    }

    #call h4{
        padding-bottom: 10px;
    }

    #email h4{
        padding-bottom: 15px;
    }

    #area-covered {
        padding-bottom: 15px;
    }

    #quote {
        padding-bottom: 15px;
    }
}