<div class="container">

    <div id="home">
        <h1>CALL NOW</h1>
        <h3>Any job, we can fix it.</h3>
        <h2>(225)450-7130</h2>
    </div>

    <div id="services">
        <h1>Our Services</h1>
    </div>

    <div id="carpentry">
        <img src="assets/logos/hammer.png" type="" alt="hammer">
        <h3>Carpentry</h3>
        <p>Whether you need a fence put up or new cabinets installed, we've got you covered.</p>
    </div>

    <div id="plumbing">
        <img src="assets/logos/wrench.png" alt="wrench">
        <h3>Plumbing</h3>
        <p>We provide a broad range of plumbing services for commercial and residential properties.</p>
    </div>

    <div id="electrical">
        <img src="assets/logos/screwdriver.png" alt="screwdriver">
        <h3>Electrical</h3>
        <p>Installation, repair and replacement services are available for all your electrical needs.</p>
    </div>

    <div id="painting">
        <img src="assets/logos/paintbrush.png" alt="paintbrush">
        <h3>Painting</h3>
        <p>Quality interior and exterior painting services are provided if you're looking to change things up.</p>
    </div>

    <div id="about">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nostrum aspernatur odit possimus nulla, adipisci, dignissimos sed dolore soluta vel expedita numquam omnis laudantium fugiat quibusdam, id vitae quae? Autem hic magni ipsa molestias odio delectus nesciunt laudantium, quos veritatis blanditiis maxime voluptas exercitationem nihil distinctio beatae quod quasi, modi perferendis animi similique illo. Debitis consequatur distinctio pariatur iste facilis.</p>
    </div>

    <div id="review-title">
        <h1>Happy Customers</h1>
    </div>

    <div id="first-review">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem laboriosam a dolor fuga. Similique suscipit cumque quasi soluta dolore ut maxime, harum facere eos quibusdam.</div>
    <div id="second-review">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem laboriosam a dolor fuga. Similique suscipit cumque quasi soluta dolore ut maxime, harum facere eos quibusdam.</div>

    <div id="contact">
        <h1>Contact Us</h1>
    </div>

    <div id="call">
        <h2>CALL US</h2>
        <h4>John | (225) 450-7130</h4>
        <h4>Charlie | (225) 250-9336</h4>
    </div>

    <div id="email">
        <h2>EMAIL US</h2>
        <h4>johnnyonthespot747@yahoo.com</h4>
    </div>

    <div id="area-covered">
        <h2>AREAS WE COVER</h2>
        <h4>Baton Rouge Parishes</h4>
        <h4>Ascension Parish</h4>
        <h4>Livingston Parish</h4>
    </div>

    <div id="quote">
        <h2>FREE QUOTE</h2>
        <h4>All quotes provided are free of charge. Feel free to ask, no matter how big or small the job might be.</h4>
    </div>

    <div id="footer">&copy; 2021 by Johnny On The Spot Maintenance, LLC</div>
</div>

